<!-- eslint-disable vue/multi-word-component-names -->
<template>
<body>
      <div class="tab-content" id="pills-tabcontent"> 
          <h2 class="h4 m-4 text-secondary">Articulos</h2>

            <div class="row center-xs">
  
                  <div class="card-product-info card-body">
                  <a><img class="card-img-top"  src="../assets/pdf.png"> </a>
                    <br>
                    <br>
                    <h3 class="card-title" >Aplicaciones web</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>Javier Zofío Jiménez</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/1.html">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
            </div>
        </div>
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/Programaci%c3%b3n%20web%20en%20java.pdf.pdf&amp;embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/Programaci%c3%b3n%20web%20en%20java.pdf" download="Programación web en java.pdf.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
                </div>
              </div>
  
                  <div class="card-product-info card-body">
                    <a><img class="card-img-top"  src="../assets/pdf.png"></a>
                    <br>
                    <br>
                    <h3 class="card-title" >Programación web en java</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>José Miguel Ordax Cassá</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/3.html">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
              
    
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/Programaci%c3%b3n%20web%20en%20el%20entorno%20cliente.pdf.pdf&amp;embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/Programaci%c3%b3n%20web%20en%20el%20entorno%20cliente.pdf" download="Programación web en el entorno cliente.pdf.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
                </div>
              </div>
  
                  <div class="card-product-info card-body">
                    <a><img class="card-img-top"  src="../assets/pdf.png"></a>
                    <br>
                    <br>
                    <h3 class="card-title" >Programacion web en el entorno cliente</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>Lopez Sanz Marcos</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/4">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
              
    
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/Programaci%c3%b3n%20web%20en%20el%20entorno%20servidor.pdf.pdf&amp;embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/Programaci%c3%b3n%20web%20en%20el%20entorno%20servidor.pdf" download="Programación web en el entorno servidor.pdf.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
                </div>
              </div>
  
                  <div class="card-product-info card-body">
                    <a><img class="card-img-top"  src="../assets/pdf.png"></a>
                    <br>
                    <br>
                    <h3 class="card-title" >Programacion web en el entorno servidor</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>Lopez Sanz Marcos</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/5.html">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
              
    
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/Programaci%c3%b3n%20con%20lenguajes%20de%20gui%c3%b3n%20en%20p%c3%a1ginas%20web%20(UF1305).pdf.pdf&amp;embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/Programaci%c3%b3n%20con%20lenguajes%20de%20gui%c3%b3n%20en%20p%c3%a1ginas%20web%20(UF1305).pdf" download="Programación con lenguajes de guión en páginas web (UF1305).pdf.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
                </div>
              </div>
  
                  <div class="card-product-info card-body">
                    <a><img class="card-img-top"  src="../assets/pdf.png"></a>
                    <br>
                    <br>
                    <h3 class="card-title" >Programacion con lenguajes de guion en páginas web</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>Antonio Luis Cardador Cabello</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/6.html">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
              
    
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/Metodolog%c3%ada%20de%20programaci%c3%b3n%20en%20p%c3%a1ginas%20web%20manual%20te%c3%b3rico.pdf.pdf&amp;embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/Metodolog%c3%ada%20de%20programaci%c3%b3n%20en%20p%c3%a1ginas%20web%20manual%20te%c3%b3rico.pdf" download="Metodología de programación en páginas web manual teórico.pdf.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
                </div>
              </div>
  
                  <div class="card-product-info card-body">
                    <a><img class="card-img-top"  src="../assets/pdf.png"></a>
                    <br>
                    <br>
                    <h3 class="card-title" >Metodología de programacin en páginas web</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>Ollero Sánchez Carlos</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/7.html">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
              
    
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/Redes%20de%20computadoras.pdf.pdf&amp;embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/Redes%20de%20computadoras.pdf" download="Redes de computadoras.pdf.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
                </div>
              </div>
  
                  <div class="card-product-info card-body">
                    <a><img class="card-img-top"  src="../assets/pdf.png"></a>
                    <br>
                    <br>
                    <h3 class="card-title" >Redes de computadoras</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>Robledo Sosa Cornelio</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/8.html">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
              
    
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/Estructura%20de%20redes%20de%20computadores.pdf.pdf&amp;embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/Estructura%20de%20redes%20de%20computadores.pdf" download="Estructura de redes de computadores.pdf.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
                </div>
              </div> 
  
                  <div class="card-product-info card-body">
                    <a><img class="card-img-top"  src="../assets/pdf.png"></a>
                    <br>
                    <br>
                    <h3 class="card-title" >Estructura de redes de computadores</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>Jordi Íñigo Griera</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/9.html">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
              
    
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/Arduinounfinseman.pdf.pdf&amp;embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/Arduinounfinseman.pdf" download="Arduinounfinseman.pdf.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
                </div>
  
                  <div class="card-product-info card-body">
                    <a><img class="card-img-top"  src="../assets/pdf.png"></a>
                    <br>
                    <br>
                    <h3 class="card-title" >Aprende Arduino en un fin de semana</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>Alfredo Moreno Muñoz</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/10.html">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
              
    
              <div class="col d-flex justify-content-center mb-4 contenedor">
                <div class="card shadow mb-1 bg-light rounded" style="width: 16rem;">
                  <br>
                  <div class="button-box">
                    <a href="http://docs.google.com/gview?url=RCientificaFACCI.azurewebsites.net/Creaci%c3%b3n%20de%20p%c3%a1ginas%20web%20HTML%205.pdf.pdf&amp;embedded=true">
                      <button class="btn btn-outline-success">Leer en linea</button>
                    </a>
                    <a href="articulos/Creaci%c3%b3n%20de%20p%c3%a1ginas%20web%20HTML%205.pdf" download="Creación de páginas web HTML 5.pdf.pdf">
                      <button class="btn btn-outline-success">Descargar</button>
                    </a>
                  </div>
  
                  <div class="card-product-info card-body">
                    <a><img class="card-img-top"  src="../assets/pdf.png"></a>
                    <br>
                    <br>
                    <h3 class="card-title" >Programacion web</h3>
                    <div class="card-product-description text-secondary-50 description">
                      <p>Autor</p>
                    </div>
                  <div class="d-grid gap-2">
                  <a href="datos-articulo/11.html">
                    <button class="btn btn-outline-success">Datos bibliográficos</button>
                    <br>
                    <br>
                  </a>
                </div>
              </div>
            </div>  
        </div>
      </div>      
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>¿Quieres hablarnos?</h4>
            <nav>
            <a class="f-a" href="/contactos">Contacto</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Conócenos</h4>
            <nav>
                <a class="f-a" href="/datos">Sobre Nosotros</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <br>
            <p>Manta-Ecuador</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AW I | Quinto "B" | 2022</h2>
</footer>
</body> 
</template>

<style scoped>
/*=====================================
/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
*{
    margin: 0;
    padding: 0;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}
/* FIN DE DECLARACION DE VARIABLES */
body {
    background: #fbfbfb;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: black;
}

.card-img-top{
    width: 50px;
    height: 50px;
}

.container{
    height: 45rem;
    margin: 0px;
}

.form-box{
    width: 400px;
    height: 650px;
    position: relative;
    font-size: 0.7rem;
    margin: 0 auto;
    background-color:rgb(243, 243, 243); 
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}

.toggle-btn{
    padding: 10px 22px;
    background: #313b50;
    outline: none;
    position: relative;
    border-radius: 25px;
    color: var(--secondarycolor);
    cursor: pointer;
}

.redes-sociales{
    margin: 10px auto;
    text-align: center;
}

.redes-sociales img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 15px 4px #e0e0e0;
    cursor: pointer;
    border-radius: 50%;
}

.warning {
    width: 100%;
    grid-column: 1/-1;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin: auto;
    color: var(--primarycolor);
    padding: 10px 0 0;
}  

.form-registro{
    grid-column: 1/-1;
    width: 80%;
    padding: 10px 20px 10px;
    margin: auto;
}

.registro-input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    display: block;
    margin: auto;
    background: #313b50;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.check-box{
    margin: 30px 10px 30px 0;
    cursor: pointer;
}

span{
    color: black;
    font-size: 13px;
    bottom: 64px;
    position: absolute;
    cursor: pointer;
}

#registro{
    left: 60px;
}

.registro-p{
    padding: 10px 10px 0;
}

.registro-p2{
    color :black;
    text-align: center;
    padding: 10px 10px 0;
}

.registro-p-link{
    text-align: center;
    color: black;
}

.registro-p{
    color: black;
}

.registro-label{
    text-align: center;
    color: black;
}

.registro-p-link:hover{
    color: black;
    transition: color 0.3s ease;
}
/*=====================================
/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}
/* FIN DE DECLARACION DE VARIABLES */

/* footer */

footer{
    background: #414141;
    padding: 3rem;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
    color: white;
}

.content-foo h4{
    color: var(--secondarycolor);
    border-bottom: 3px solid #32965D;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.f-a{
    color: var(--secondarycolor);
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
/* Galeria */

.imagen-port{
    width: 44%;
}

/* team */

.cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards .card{
    width: 90%;
}

.cards .card:first-child{
    margin-bottom: 30px;
}

@media screen and (max-width:500px){
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

</style>