<!-- eslint-disable vue/multi-word-component-names -->
<template>
<body>
    <!--fin de la cabecera-->
    <main class="body">
      <div class="formulario">
        <form
          id="contacto"
          method="POST">
          <h1 class="formulario__titulo">Contáctenos</h1>
          <p class="warning" id="warning"></p>

          <input id="name" name="name" type="text" class="formulario__input" />
          <label for="name" class="formulario__label">Nombres</label>

          <input id="email" name="email" type="text" class="formulario__input" />
          <label for="email" class="formulario__label">Correo</label>

          <input id="tel" name="tel" type="text" class="formulario__input" />
          <label for="tel" class="formulario__label">Teléfono</label>

          <textarea
            class="special-textarea"
            name="content"
            id="mesage"
            cols="30"
            rows="5"
          ></textarea>
          <label for="mesage" class="formulario__label special-label">Mensaje</label>
          <button type="submit" class="formulario__submit" onclick="send()">Enviar</button>
        </form>
      </div>
    </main>
    <!--Inicio del FOOTER-->
    <link rel="stylesheet" href="footer.css" />

<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>¿Quieres hablarnos?</h4>
            <nav>
            <a class="f-a" href="/contactos">Contacto</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Conócenos</h4>
            <nav>
                <a class="f-a" href="/datos">Sobre Nosotros</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <br>
            <p>Manta-Ecuador</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AW I | Quinto "B" | 2022</h2>
</footer>
</body>
</template>

<style scoped>
    * {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
a,li {
  text-decoration: none;
  list-style: none;
  color: white;
}
/* FIN DE RESETEO DE CSS */

/* INICIO DE DECLARACION DE VARIABLES
     variables con las que se trabajaran */
:root {
  --primarycolor: #313B50;
  --secondarycolor: #ffffff;
  --thirdcolor: #434c61;
  --fourthcolor: #367588;
  --cancel: #56070c;
  --primarytext: 'Montserrat', sans-serif;
  --secondtext: "Dancing Script", cursive;
  --shadow: rgba(0, 0, 0, 0.75);
}
/* FIN DE DECLARACION DE VARIABLES */
.body {
  margin: 0px;
  background-color: white;
  color: black;
}
.formulario {
  width: 80%;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.9);
  background-color: #e6e6e6c7;
  border-radius: 18px;
  margin-bottom: 50px;
}
.formulario__titulo {
  text-align: center;
  text-transform: uppercase;
}
.formulario__input,
.formulario__submit,
.special-textarea {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: var(--primarytext);
  border-radius: 10px;
  outline: none;
}
.formulario__input,
.special-textarea {
  padding: 12px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  color: var(--thirdcolor);
}
.special-textarea {
  margin-bottom: 20px;
  resize: none;
}
.formulario__input:focus,
.special-textarea:focus {
  border: 2px solid rgba(0, 0, 0, 0.7);
}
.formulario__input:focus + .formulario__label {
  margin-top: -110px;
}
.special-textarea:focus + .special-label {
  margin-top: -180px;
}

.formulario__label {
  display: block;
  padding: 0 10px;
  position: absolute;
  margin-top: -75px;
  transition: all 0.2s;
  color: var(--thirdcolor);
  font-weight: bold;
}
.special-label {
  margin-top: -145px;
}
.formulario__submit {
  background: #313b50;
  padding: 10px 20px;
  border: 1px solid var(--thirdcolor);
  transition: all 0.5s ease;
  cursor: pointer;
  color: white;
}
.formulario__submit:hover {
  background: var(--thirdcolor);
  color: #fff;
}

.fijar {
  margin-top: -110px;
  padding: 0;
}
.fijar-special {
  margin-top: -180px;
  padding: 0;
}

.warning {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  margin: auto;
  color: var(--primarycolor);
  padding: 10px 0 15px;
}

/*=====================================
/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}
/* FIN DE RESETEO DE CSS */

/* INICIO DE DECLARACION DE VARIABLES
         variables con las que se trabajaran */
:root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: 'Montserrat', sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
        }
/* FIN DE DECLARACION DE VARIABLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

/* Header */

header {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 20px;
}


nav{
    text-align: right;
    padding: 30px 30px 0 0;
    margin-bottom: 10px
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
    color: white;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #32965D;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: white;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
 
@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}
</style>