<!-- eslint-disable vue/multi-word-component-names -->
<template>
   <section> 
            <form   
                id="registro"
                class="form-registro"
                method="POST">
                <input 
                    id="name"
                    name="name"
                    type="text" 
                    class="registro-input" 
                    placeholder="Nombre*" 
                    required
                    />
                <input 
                    id="lastName"
                    name="lastName"
                    type="text" 
                    class="registro-input" 
                    placeholder="Apellido*" 
                    required
                    />
                <input
                    id="email"
                    name="email"
                    type="email" 
                    class="registro-input" 
                    placeholder="Correo*" 
                    required
                    />
                <input
                    id="password"
                    name="password"
                    type="password" 
                    class="registro-input" 
                    placeholder="Contraseña*" 
                    required
                    />
                <input
                    id="password-confir"
                    type="password" 
                    class="registro-input" 
                    placeholder="Confirma tu contraseña*" 
                    required
                    />
                <input
                    id="date"
                    name="date"
                    type="date" 
                    class="registro-input"
                    placeholder="Fecha de nacimiento"
                    required
                    />
                <label for="terminos" class="registro-label">
                    He leído y acepto los
                    <a href="#" class="registro-p-link">Términos y Condiciones</a> y la
                    <a href="#" class="registro-p-link">Política de privacidad</a>*
                    <input
                        type="checkbox"
                        id="terminos"
                        class="body-form-selection"
                        required
                    /></label>
                <p class="registro-p">*Campos obligatorios</p>
                    <br>
                        <a href="/" class="submit-btn">Registrate</a>
                        <p class="registro-p2">
                            ¿Ya tienes una cuenta?
                            <a href="/login" class="registro-p-link">Inicia Sesión</a>
                        </p>
            </form>
        </section>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>¿Quieres hablarnos?</h4>
            <nav>
            <a class="f-a" href="/contactos">Contacto</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Conócenos</h4>
            <nav>
                <a class="f-a" href="/datos">Sobre Nosotros</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <br>
            <p>Manta-Ecuador</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AW I | Quinto "B" | 2022</h2>
</footer>
</template>