<template>
  <div class=bar-nav>
    <header class="hero">
    <nav class="nav container">
            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                      <router-link to="/" class="nav__links">Inicio</router-link>
                </li>
                <li class="nav__items">
                    <router-link to="/articulos" class="nav__links">Articulos</router-link>
                </li>
                <li class="nav__items">
                    <router-link to="/login" class="nav__links">Login</router-link>
                </li>
                <li class="nav__items">
                    <router-link to="/registro" class="nav__links">Registrate</router-link>
                </li>
                <img src="images/close.svg" class="nav__close">
            </ul>
            <div class="nav__menu">
                <img src="images/menu.svg" class="nav__img">
            </div>
        </nav>
  </header>
  <router-view/>
  </div>
</template>>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}
body{
    background: #95e7c5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(140, 40%, 52%, 0.459), hsla(194, 45%, 52%, 0.664));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(140, 40%, 52%, 0.459), hsla(194, 45%, 52%, 0.664));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.hero {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  z-index: -1;
}
.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 2em;
    padding-bottom: 50px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 5px;
    margin-top: 10px;
}
.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__title {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align:center;
  font-weight: 700;
  text-shadow: 2px  1px 2px black,
             1px  1px 1px black,
            -2px  1px 2px black,
             2px -1px 2px black;
}
.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
  font-size: 20px;
  text-shadow: 2px  1px 2px grey,
             1px  1px 1px grey,
            -2px  1px 2px grey,
             2px -1px 2px grey;
}
.nav__items {
  list-style: none;
}
.nav__links {
  color: #fff;
  text-decoration: none;
}
.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}
.nav__img {
  display: block;
  width: 30px;
}
.nav__close {
  display: var(--show, none);
}
</style>